{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Bienvenue dans la page d'accueil</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					{% for article in articles %}
						<div class="card col-md-3">
							<p class="date">Ecrit le
								{{article.createdAt | date("d/m/Y")}}
								à
								{{article.createdAt | date("H:i")}}</p>
							<p>Par
								<span class="author">{{article.author}}</span>
							</p>
							<img src="/assets/blog/images/{{article.image}}" width="100%" class="card-img-top" alt="{{article.image}}">


							<div class="card-body">
								<h5 class="card-title">{{article.title}}</h5>
								<a href="{{path('show', {id : article.id})}}" class="btn btn-primary">En savoir plus</a>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-4">
				{% if categories is defined %}
					<h2>Categories</h2>
					<ul class="list-group">
						{% for category in categories %}
							<li class="list-group-item">
								<a href="{{path('show_article', {id : category.id})}}">{{category.title}}<span class="badge">{{category.articles | length}}
										articles</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if users is defined %}
					<h2>Users</h2>
					<ul class="list-group">
						{% for user in users %}
							<li class="list-group-item">
								<a href="{{path('show_user_article', {id : user.id})}}">{{user.username}}<span class="badge">{{user.articles | length}}
										articles</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
